@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --max-width: 1300px;
  --extra-width: calc(100% - var(--max-width));
  --full-bleed: calc(calc(var(--extra-width) / 2) + 2rem);

  --background: #e0e0e0;
  --foreground: #171717;
  --primary: #7d44a8;
  --primary-700: #c084f5;
  --primary-dark: #060010;
  --swiper-pagination-bullet-inactive-color: #7d44a8;
}

.dark {
  --background: var(--primary-dark);
  --foreground: #ededed;
  --swiper-pagination-bullet-inactive-color: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-200: #e0e0e0;
  --color-primary-700: #c084f5;
  --color-primary-900: #060010;

  --spacing-a-250: 250px;
  --spacing-a-300: 300px;
  --spacing-a-500: 500px;

  --text-a-10: 10px;
  --text-a-12: 12px;
  --text-a-14: 14px;
  --text-a-16: 16px;
  --text-a-18: 18px;
  --text-a-20: 20px;
  --text-a-22: 22px;
  --text-a-24: 24px;
  --text-a-30: 30px;
  --text-a-32: 32px;
  --text-a-34: 34px;

  --breakpoint-xs: 300px;
  --breakpoint-lmd: 800px;
  --breakpoint-2xl: 1400px;

  --shadow-a-base:
    0 30px 80px rgba(125, 68, 168, 0.5), 0 8px 32px rgba(0, 0, 0, 0.6),
    inset 0 0 0 1px rgba(125, 68, 168, 0.4);

  --animate-overlay-show: content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-content-show: content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-content-bounce: content-bounce 450ms;
  --animate-shimmer: shimmer 3s linear infinite;
  --animate-slide-in-from-bottom: slideInFromBottom 300ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-out-to-bottom: slideOutToBottom 250ms
    cubic-bezier(0.16, 1, 0.3, 1);
}

@layer base {
  * {
    @apply border-primary/50;
  }

  html,
  body {
    @apply scroll-smooth scroll-p-16;
  }
  body {
    @apply bg-background text-a-10 md:text-a-14;
  }

  button {
    @apply cursor-pointer disabled:cursor-not-allowed;
  }
}

@layer utilities {
  .app-padding {
    @apply px-6 md:px-10 xl:px-(--full-bleed);
  }

  .nav-item {
    @apply hover:underline py-3 px-6 block transition-all;
  }

  .app-padding-y {
    @apply py-10 md:py-20;
  }

  .app-padding-t {
    @apply pt-10 md:pt-20;
  }
  .app-padding-b {
    @apply pb-10 md:pb-20;
  }

  .app-break-bg {
    @apply bg-linear-to-br from-primary/5 dark:from-primary/10 via-primary-900/5 dark:via-primary-900/10 to-primary/5 dark:to-primary/10;
  }

  .pill {
    @apply rounded-full border border-primary/20 bg-primary/10 px-4 py-2 text-sm font-medium;
  }

  .section-card {
    @apply rounded-4xl border border-primary/15 bg-linear-to-br from-primary/10 via-transparent to-primary/5 p-8;
  }

  .section-head-text {
    @apply max-w-5xl font-black tracking-tight text-2xl sm:text-3xl md:text-5xl;
  }

  .blurred-bg {
    @apply backdrop-blur-sm bg-background/10  z-10 h-screen w-screen fixed top-0 left-0;
  }

  .swiper-pagination-bullet {
    @apply w-6! border! border-primary! rounded-[22369600px]! bg-primary cursor-pointer;
  }

  .swiper-pagination-bullet-active {
    @apply w-8! bg-primary!;
  }
}

@keyframes content-show {
  from {
    opacity: 0.7;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes content-bounce {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
  }

  60% {
    opacity: 1;
    transform: scale(1.05) translateY(-6px);
  }

  80% {
    transform: scale(0.98) translateY(2px);
  }

  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOutToBottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
